a.out
new_img.ppm
new_img.jpg
ppm_image.ppm
.vscode/
video/
new_imgs/
others/Popeye the Sailor Meets Sindbad the Sailor.mp4
video_NNI/
video_LI/
video2/
others/videoplayback (1).mp4
others/videoplayback (2).mp4
